{% extends postorius_base_template %}
{% load i18n %}
{% load nav_helpers %}
{% load bootstrap_tags %}

{% block main %}

    {% list_nav 'mass_removal' 'Mass Removal' %}

    <form action="{% url 'mass_removal' list.list_id %}" method="post" class="form-horizontal">
        {% render_form_horizontal form 2 8 %}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-warning" type="submit">{% trans 'Unsubscribe users' %}</button>
                <a href="{% url 'unsubscribe_all' list.list_id %}" class="btn btn-danger pull-right">
                    {% trans 'Unsubscribe All' %}</a>
            </div>
        </div>
    </form>

{% endblock main %}
